/* Project CSS 
/* ============================================================ */
@font-face {
    font-family: 'nunitoregular';
    src: url('fonts/nunito/nunito-regular-webfont.eot');
    src: url('fonts/nunito/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nunito/nunito-regular-webfont.woff2') format('woff2'),
         url('fonts/nunito/nunito-regular-webfont.woff') format('woff'),
         url('fonts/nunito/nunito-regular-webfont.ttf') format('truetype'),
         url('fonts/nunito/nunito-regular-webfont.svg#nunitoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'virgo_01regular';
    src: url('fonts/virgo/virgo-webfont.eot');
    src: url('fonts/virgo/virgo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/virgo/virgo-webfont.woff2') format('woff2'),
         url('fonts/virgo/virgo-webfont.woff') format('woff'),
         url('fonts/virgo/virgo-webfont.ttf') format('truetype'),
         url('fonts/virgo/virgo-webfont.svg#virgo_01regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body { max-height: 6454px; background: hsla(0,0%,83%,1.00);}
#vic_page_wrap { width: 960px; background: hsla(0,0%,83%,1.00); margin: 0 auto; z-index: 0; }
/* HEADER ============================== */
#vic_header_wrap { position: relative; }
.vic_head_wrap { position: relative; background: hsla(0,0%,100%,1.00); border-radius: 24px; }
#vic_logo img {  position: absolute; top: -580px; left: 0px; z-index: 1; }
#vic_cta_img { position: relative; min-width: 100%; border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; }
.vic_bg_img { position: relative; min-width: 100%; }
#vic_nav_ul { position: absolute; top: -568px; left: 290px; width: 660px; border-radius: 24px; background-color: hsla(0,0%,100%,1.00); z-index: 1; }
.vic_nav_li { width: 33.33333333333333%; list-style-type: none; display: inline-block; margin: 0 auto; text-align: center; float: left; overflow: hidden; }
.vic_nav_li:first-child { border-bottom-left-radius: 24px; }
.vic_nav_li a { text-decoration: none; color: hsla(0,0%,0%,1.00); font-family: Nunito; font-size: 1.5em; display: block; line-height: 2em; text-align: top; }
.vic_nav_li a:hover { text-decoration: none; color: hsla(0,0%,100%,1.00); font-family: Nunito; font-size: 1.5em; display: block; background-color: hsla(197,77%,44%,1.00); border-radius: 24px; }
/* ABOUT ============================== */ 
#vic_about_img, #vic_blog_img, #vic_comp_img { height: 48px; width: 48px; margin-top: 20px; }

.vic_art_wrap { background-color: hsla(0,0%,100%,1.00); margin: 25px 20px 0px 20px; padding: 20px 20px 0px 20px; border-radius: 24px; height: 100%; }




article { hieght: 800px; }
article p { color: hsla(0,0%,0%,1.00); font-family: Nunito; font-size: 1em; margin: 25px 10px 0px 20px; padding: 0px 10px 0px 10px; }
article p strong { color: hsla(197,77%,44%,1.00); font-family: Nunito; font-size: 1.8em; }

/* COMPONENTS-IMAGES ============================== */

figure { height: 100%; }
#slider_pic { position: absolute; top: 80px; left: 0px; width: 880px; height: 400px; margin-bottom: 20px; border-radius: 24px; border: 1px inset hsla(197,77%,44%,1.00); } 
#nav_pic { position: absolute; top: 80px; left: 0px; width: 880px; height: 250px; margin-bottom: 20px; border-radius: 24px; border: 1px inset hsla(197,77%,44%,1.00); }  
#forms_pic { position: absolute; top: 80px; left: 0px; width: 880px; height: 250px; margin-bottom: 20px; border-radius: 24px; border: 1px inset hsla(197,77%,44%,1.00); }  
#maps_pic { position: absolute; top: 80px; left: 0px; width: 880px; height: 250px; margin-bottom: 20px; border-radius: 24px; border: 1px inset hsla(197,77%,44%,1.00); }  
#footer_pic { position: absolute; top: 80px; left: 0px; width: 880px; height: 250px; margin-bottom: 20px; border-radius: 24px; border: 1px inset hsla(197,77%,44%,1.00); }


 
/* HEADINGS ============================== */


.vic_h2_style { position: relative; height: 100px; width: 960px; margin-top: 20px; }
.vic_h2_style a { position: absolute; top: 5px; left: 50px; font-family: Nunito; font-size: 4em; text-decoration: none; color: hsla(0,0%,0%,1.00); text-align: center; display: block; }
.vic_h3_style { position: relative; height: 60px; width: 880px; margin-top: 20px; margin-bottom: 20px; background-color: hsla(0,0%,0%,1.00); text-align: center; border-radius: 24px; }
.vic_h3_style a { position: absolute; top: 10px; left: 50px; font-family: Nunito; font-size: 2em; text-decoration: none; color: hsla(0,0%,100%,1.00); text-align: center; display: block; } 
#vic_form_h3 { position: absolute; top: 650px; left: 20px; } 
#vic_maps_h3 { position: absolute; top: 1275px; left: 20px; }
#vic_foot_h3 { position: absolute; top: 1900px; left: 20px; }
#vic_footer_h3 p { position: relative; top: 0px; color: hsla(0,0%,100%,1.00); font-family: Nunito; font-size: 2em; font-weight: bold; text-align: center; }

/* SECTIONS - WRAPS ============================== */ 

#main_comp_wrap { height: 1795px; margin-bottom: 140px; }
#vic_foot_wrap { background-color: hsla(197,77%,44%,1.00); border-radius: 24px; }

#comp_nav_wrap { position: relative; height: 2540px; }
#vic_main_comp { position: relative; }
#vic_blog_sect { position: relative; height: 800px; margin-bottom: 20px; }
#vic_comp_sect { position: relative; top: 1000px; height: 3675px; margin-bottom: 10px; margin-top: 20px; background-color: hsla(0,0%,100%,0.00); }


#vic_blog_sect article { position: absolute; top: 500px; left: 0px; }
#vic_decon_img { position: absolute; top: 1000px; left: 40px; width: 880px; height: 760px; border-radius: 24px; border: 1px inset hsla(197,77%,44%,1.00); }
#nav_article { position: absolute; top: 400px; }
#form_article { position: absolute; top: 1040px; }
#maps_article { position: absolute; top: 1650px; }
#foot_article { position: absolute; top: 2275px; }

/* SLIDER =========================================== 

body { overflow-x: hidden; }
#slider { text-align: center; }
label, a { color: teal; cursor: pointer; text-decoration: none; }
label:hover, a:hover { color: #000 !important; }
* { box-sizing: border-box; }
label, #active, img { -moz-user-select: none; -webkit-user-select:none; }
#slider { margin: 0 auto; max-width: 50%; }
input { display: none; }
#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }
#overflow { width: 100%; overflow: hidden; }
article img { width: 100%; }
#slides .inner { width: 500%; line-height: 0; }
#slides article { width: 20%; float: left; }
#controls { margin: -25% 0 0 0; width: 100%; height: 50px; }
#controls label { display: none; width: 50px; height: 50px; opacity: 0.3; }
#active { margin: 10px 0 0; text-align: center; }
#active label { border-radius: 5px; display: inline-block; width: 10px; height: 10px; background: #bbb; }
#active label:hover { background: #ccc; border-color: #777 !important; }
#controls label:hover { opacity: 0.8; }
#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) { background: url('http://upload.robinbrons.com/u/1366504016.png') no-repeat; float: right; margin: -20px -70px 0 0; display: block; }
#slide1:checked ~ #controls label:nth-child(5), 
#slide2:checked ~ #controls label:nth-child(1), 
#slide3:checked ~ #controls label:nth-child(2), 
#slide4:checked ~ #controls label:nth-child(3), 
#slide5:checked ~ #controls label:nth-child(4) { background: url('http://upload.robinbrons.com/u/1366544716.png') no-repeat; float: left; margin: -20px 0 0 -70px; display: block; }
	#slide1:checked ~ #active label:nth-child(1), 
	#slide2:checked ~ #active label:nth-child(2), 
	#slide3:checked ~ #active label:nth-child(3), 
	#slide4:checked ~ #active label:nth-child(4), 
	#slide5:checked ~ #active label:nth-child(5) { background: #333; border-color: #333 !important; }
/* Info Box */
	.info { line-height: 20px; margin: 0 0 -150%; position: absolute; font-style: italic; padding: 30px 30px; opacity: 0; color: #000; text-align: left; }
	.info h3 { color: #333; margin: 0 0 5px; font-weight: normal; font-size: 22px; font-style: normal; }
/* Slider Styling */
/* Animation */
	#slides .inner { transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); }
	#slider { -webkit-transform: translateZ(0); transition: all 0.5s ease-out; }
	#controls label { -webkit-transform: translateZ(0); transition: opacity 0.2s ease-out; }
	#slide1:checked ~ #slides article:nth-child(1) .info, 
	#slide2:checked ~ #slides article:nth-child(2) .info, 
	#slide3:checked ~ #slides article:nth-child(3) .info, 
	#slide4:checked ~ #slides article:nth-child(4) .info, 
	#slide5:checked ~ #slides article:nth-child(5) .info { opacity: 1; transition: all 1s ease-out 0.6s; }
	.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile { -webkit-transform: translateZ(0); transition: all 0.5s ease-out; }

/*=======================BUTTON STYLING */

button { position: relative; top: 20px; width: 200px; height: 50px; border: 0px; border-radius: 24px; background-color: hsla(198,87%,44%,1.00); font-size: 1em; font-family: Nunito; }
button.view_cmp_btn a { display: block; color: hsla(0,0%,100%,1.00);  }

/* Responsive Styling */
 @media only screen and (max-width: 850px) and (min-width: 450px) {
    #slider #controls { margin: -25% 0 0 15%; width: 70%; height: 50px; }
    #slider #controls label { transform: scale(0.8); }
    #slider #slides { padding: 1% 0; border-radius: 0px; }
    #slider #active { margin: 22% 0 0; } 
	}
/* Mobile */
	#mobile:checked ~ #slider #controls { margin: -28% 0 0 24%; width: 50%; height: 50px; }
	#mobile:checked ~ #slider #active { margin: 23% 0 0; }
	#mobile:checked ~ #slider #slides .info { opacity: 0 !important; }
	#mobile:checked ~ #slider #controls label { transform: scale(0.6); }
@media only screen and (max-width: 450px) {
    #slider #controls { margin: -28% 0 0 24%; width: 50%; height: 50px; }
    #slider #active { margin: 23% 0 0; }
    #slider #slides { padding: 1% 0; border-radius: 0px; }
    #slider #slides .info { opacity: 0 !important; }
    #slider #controls label { transform: scale(0.6); } 
	}
@media only screen and (min-width: 850px) { 
	body { padding: 0 80px; } 
}
*/