
/* Project CSS - Aaron Wilson - WSP 9/27/2015 - Edward Almeida / Josh Bloom - Instructors */
/* ============================================================ */

/* Font Style CSS */
@font-face {
	font-family: 'nunitoregular';
	src: url('fonts/nunito/nunito-regular-webfont.eot');
	src: url('fonts/nunito/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/nunito/nunito-regular-webfont.woff2') format('woff2'), url('fonts/nunito/nunito-regular-webfont.woff') format('woff'), url('fonts/nunito/nunito-regular-webfont.ttf') format('truetype'), url('fonts/nunito/nunito-regular-webfont.svg#nunitoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'virgo_01regular';
	src: url('fonts/virgo/virgo-webfont.eot');
	src: url('fonts/virgo/virgo-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/virgo/virgo-webfont.woff2') format('woff2'), url('fonts/virgo/virgo-webfont.woff') format('woff'), url('fonts/virgo/virgo-webfont.ttf') format('truetype'), url('fonts/virgo/virgo-webfont.svg#virgo_01regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Global CSS Styles */
body {
	max-height: 6454px;
	background: hsla(0,0%,83%,1.00);
}

#vic_page_wrap {
	width: 960px;
	background: hsla(0,0%,83%,1.00);
	margin: 0 auto;
	z-index: 0;
}

/* HEADER ============================== */
#vic_header_wrap {
	position: relative;
}

.vic_head_wrap {
	position: relative;
	background: hsla(0,0%,100%,1.00);
	border-radius: 24px;
}

#vic_logo img {
	position: absolute;
	top: -580px;
	left: 0px;
	max-width: 280px;
	z-index: 1;
}

#vic_cta_img {
	position: relative;
	min-width: 100%;
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
}

.vic_bg_img {
	position: relative;
	min-width: 100%;
}

#vic_nav_ul {
	position: absolute;
	top: -568px;
	left: 290px;
	width: 660px;
	border-radius: 24px;
	background-color: hsla(0,0%,100%,1.00);
	z-index: 1;
}

.vic_nav_li {
	width: 33.33333333333333%;
	list-style-type: none;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	float: left;
	overflow: hidden;
}

.vic_nav_li:first-child {
	border-bottom-left-radius: 24px;
}

.vic_nav_li a {
	text-decoration: none;
	color: hsla(0,0%,0%,1.00);
	font-family: Nunito;
	font-size: 1.5em;
	display: block;
	line-height: 2em;
	text-align: top;
}

.vic_nav_li a:hover {
	text-decoration: none;
	color: hsla(0,0%,100%,1.00);
	font-family: Nunito;
	font-size: 1.5em;
	display: block;
	background-color: hsla(197,77%,44%,1.00);
	border-radius: 24px;
}

/* ABOUT ============================== */ 
#vic_about_ico, #vic_blog_ico, #vic_comp_ico {
	height: 48px;
	width: 48px;
	margin: 20px 50px 0px 0px;
}

.vic_art_wrap {
	background-color: hsla(0,0%,100%,1.00);
	margin: 25px 20px 0px 20px;
	padding: 20px 20px 0px 20px;
	border-radius: 24px;
	height: 100%;
}

article {
	hieght: 800px;
}

article p {
	color: hsla(0,0%,0%,1.00);
	font-family: Nunito;
	font-size: 1em;
	margin: 15px 10px 10px 20px;
	padding: 0px 10px 0px 10px;
}

article p strong {
	color: hsla(197,77%,44%,1.00);
	font-family: Nunito;
	font-size: 1.8em;
}

/* COMPONENTS-IMAGES ============================== */

figure {
	height: 100%;
}

#slider_pic {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 880px;
	height: 400px;
	margin-bottom: 20px;
	border-radius: 24px;
	border: 1px inset hsla(197,77%,44%,1.00);
}

#nav_pic {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 880px;
	height: 250px;
	margin-bottom: 20px;
	border-radius: 24px;
	border: 1px inset hsla(197,77%,44%,1.00);
}

#forms_pic {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 880px;
	height: 250px;
	margin-bottom: 20px;
	border-radius: 24px;
	border: 1px inset hsla(197,77%,44%,1.00);
}

#maps_pic {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 880px;
	height: 250px;
	margin-bottom: 20px;
	border-radius: 24px;
	border: 1px inset hsla(197,77%,44%,1.00);
}

#footer_pic {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 880px;
	height: 250px;
	margin-bottom: 20px;
	border-radius: 24px;
	border: 1px inset hsla(197,77%,44%,1.00);
}

/* HEADINGS ============================== */


.vic_h2_style {
	position: relative;
	left: 35px;
	height: 100px;
	width: 960px;
	margin-top: 20px;
}

.vic_h2_style a {
	position: absolute;
	top: 5px;
	left: 50px;
	font-family: Nunito;
	font-size: 4em;
	text-decoration: none;
	color: hsla(0,0%,0%,1.00);
	text-align: center;
	display: block;
}

.vic_h3_style {
	position: relative;
	height: 60px;
	width: 880px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: hsla(0,0%,0%,1.00);
	text-align: center;
	border-radius: 24px;
}

.vic_h3_style a {
	position: absolute;
	top: 10px;
	left: 50px;
	font-family: Nunito;
	font-size: 2em;
	text-decoration: none;
	color: hsla(0,0%,100%,1.00);
	text-align: center;
	display: block;
}

#vic_form_h3 {
	position: absolute;
	top: 650px;
	left: 20px;
}

#vic_maps_h3 {
	position: absolute;
	top: 1275px;
	left: 20px;
}

#vic_foot_h3 {
	position: absolute;
	top: 1900px;
	left: 20px;
}

#vic_footer_h3 {
	position: relative;
	top: 0px;
}

#vic_footer_h3 p {
	position: relative;
	color: hsla(0,0%,100%,1.00);
	font-family: Nunito;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

/* SECTIONS - WRAPS ============================== */ 

#main_comp_wrap {
	height: 1795px;
	margin-bottom: 140px;
}

#vic_foot_wrap {
	background-color: hsla(197,77%,44%,1.00);
	border-radius: 24px;
}

#comp_nav_wrap {
	position: relative;
	height: 2540px;
}

#vic_main_comp {
	position: relative;
}

#vic_blog_sect {
	position: relative;
	height: 800px;
	margin-bottom: 20px;
}

#vic_comp_sect {
	position: relative;
	top: 1000px;
	margin-bottom: 10px;
	margin-top: 20px;
	background-color: hsla(0,0%,100%,0.00);
}

#vic_blog_sect article {
	position: absolute;
	top: 500px;
	left: 0px;
}

#vic_decon_img {
	position: absolute;
	top: 980px;
	left: 40px;
	width: 880px;
	height: 760px;
	border-radius: 24px;
	border: 1px inset hsla(197,77%,44%,1.00);
}

img {
	width: 100%;
}

#nav_article {
	position: absolute;
	top: 400px;
}

#form_article {
	position: absolute;
	top: 1040px;
}

#maps_article {
	position: absolute;
	top: 1650px;
}

#foot_article {
	position: absolute;
	top: 2275px;
}

/* BUTTON STYLING======================= */
.view_cmp_btn {
	position: absolute;
	top: 0px;
	left: 30px;
	width: 200px;
	height: 50px;
	border: 0px;
	border-radius: 24px;
	background-color: hsla(198,87%,44%,1.00);
	font-size: 1em;
	font-family: Nunito;
	z-index: 999;
	display: block;
}

.view_cmp_btn:hover {
	position: absolute;
	top: 0px;
	left: 30px;
	width: 200px;
	height: 50px;
	border: 0px;
	border-radius: 24px;
	background-color: hsla(0,0%,0%,1.00);
	font-size: 1em;
	font-family: Nunito;
	z-index: 999;
	display: block;
}

.view_cmp_btn a {
	position: absolute;
	top: -6px;
	left: 0px;
	width: 200px;
	height: 50px;
	line-height: 4em;
	text-align: center;
	display: block;
	color: hsla(0,0%,100%,1.00);
}

.foot_btn {
	position: relative;
	top: 20px;
	height: 50px;
}

#vic_foot {
	position: relative;
	top: 1010px;
	left: 0px;
}

@media (max-width: 680px) {
}
