<!DOCTYPE html>
<html>
<head>
	<title>WSP Footer Component: Aaron Wilson</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="footer_component.css" />

	
</head>
<body>

	<!-- Navigation Component -->
    
<nav>
  <ul id="main">
    <ul id="header">
    <a href="../../index.html" id="brand">
      <li id="x0">
      <img src="../../images/visionsic.png">
      </li>
    </a>
  </ul>

    <a href="../../index.html#vic_about_h2">
      <li class="x1">
        About Me
      </li>
    </a>
    <a href="../../index.html#vic_blog_h2" id="trigger2">
      <li class="x1">
        Main CTA &nbsp;
        <span id="caret"></span>
      </li>
    </a>
    <ul id="dropdown2">
      <a href="../../components/1/slider_component.html">
        <li>
          Slider Component
        </li>
      </a>
    </ul>
    <a href="../../index.html#vic_comp_h2" id="trigger">
      <li class="x1">
        Components &nbsp;
        <span id="caret"></span>
      </li>
    </a>
    <ul id="dropdown">
      <a href="../2/nav_component.html">
        <li>
          Navigation Component
        </li>
      </a>
      <a href="../3/form_component.html">
        <li>
          Form Component
        </li>
      </a>
      <a href="../4/maps_component.html">
        <li>
          Maps Component
        </li>
      </a>
      <a href="../5/footer_component.html">
        <li>
          Footer Component
        </li>
      </a>
    </ul>
  </ul>
</nav>    
	<!-- End Navigation Component -->
    
<main>
  <header>
    <h1>
      Example Component 5: Pure CSS Footer Component
    </h1>
  </header>
  <p>
   This is an example of my learning how to implement a pure css controlled Footer component with links. I also linked all the hover links to their respective components. This Footer component uses ul and li tags to achieve the desired effect. I've also make use of vertical (display:inline;) on the links.
  </p>
</main>
<footer>
	<ul id="foot_ul">
    <article class="foot_art" id="ft_a1">
        <li class="head_li"><a href="../../index.html#">About Me</a></li>
    </article>
    <article class="foot_art" id="ft_a2">
        <li class="head_li"><a href="../../index.html#">Main CTA</a></li>
        <li class="body_li"><a href="../1/slider_component.html">Slider Component</a></li>
    </article>
    <article class="foot_art" id="ft_a3">
        <li class="head_li"><a href="../../index.html#">Components</a></li>
        <li class="body_li"><a href="../2/nav_component.html">Navigation Component</a></li>
        <li class="body_li"><a href="../3/form_component.html">Form Component</a></li>
        <li class="body_li"><a href="../4/maps_component.html">Maps Component</a></li>
        <li class="body_li"><a href="footer_component.html">footer Component</a></li>
    </article>
    </ul>
    <h6>
        <span>Copyright &copy; 2015 Another Full Sail University Course Project.</span>
    </h6>
</footer>
</body>
</html>