/* Footer Component Stylesheet 
============================================================
============================================================*/
/* CSS Font Styling */
@font-face {
    font-family: 'nunitoregular';
    src: url('fonts/nunito/nunito-regular-webfont.eot');
    src: url('fonts/nunito/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nunito/nunito-regular-webfont.woff2') format('woff2'),
         url('fonts/nunito/nunito-regular-webfont.woff') format('woff'),
         url('fonts/nunito/nunito-regular-webfont.ttf') format('truetype'),
         url('fonts/nunito/nunito-regular-webfont.svg#nunitoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'virgo_01regular';
    src: url('fonts/virgo/virgo-webfont.eot');
    src: url('fonts/virgo/virgo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/virgo/virgo-webfont.woff2') format('woff2'),
         url('fonts/virgo/virgo-webfont.woff') format('woff'),
         url('fonts/virgo/virgo-webfont.ttf') format('truetype'),
         url('fonts/virgo/virgo-webfont.svg#virgo_01regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global CSS Styles */

main p { position: relative; top: 175px; width: 960px; font-size: 20px; text-align: left; padding: 0px auto; display: block; box-sizing: border-box; }
p { position: relative; top: 175px; font-size: 20px; text-align: left; padding: 0px 340px; }
h1 {  position: relative; top: 145px; font-family: Nunito; font-weight: bold; font-size: 1.5em; text-align: center; color: hsla(0,0%,0%,1.00); }
body { position: relative; font-family: Nunito; background: hsla(0,0%,75%,1.00); }

/* Navigation CSS Styles */
#header { left: 0; width: auto; height: 6.3em; z-index: 1001; }
#caret { display: inline-block; height: 7px; width: 7px; border-left: 3px solid #fff; border-bottom: 3px solid #fff; transform: rotate(-45deg) translateY(-4px); }
li, #trigger2, #trigger { top: 0px; list-style-type: none; display: inline-block; padding: 13px; color: #f2f2f2; transition: 0.2s; }
ul { margin-top: 0; position: absolute; top: 0; background-color: hsla(0,0%,68%,1.00); display: block; width: 960px; height: 6.6em; text-align: right; padding-left: 0; padding-right: 0; border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; }
#main { position: fixed; top: 5.5%; left: 50%; width: 960px; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1000;} 
li:hover { color: hsla(197,77%,44%,1.00); background-color: #f2f2f2; border-bottom-left-radius: 24px; border-radius: 24px; }
#dropdown { top: 3.7em; background-color: hsla(0,0%,0%,1.00); height: 0; overflow: hidden; width: auto; right: .9em; border-radius: 24px; transition: 0.5s; z-index: 2000; }
#dropdown li { display: block; padding-left: 10px; padding-right: 50px; text-align: left; }
#dropdown2 { top: 3.7em; background-color: hsla(0,0%,0%,1.00); height: 0; overflow: hidden; width: auto; right: 7em; border-radius: 24px; transition: 0.5s; z-index: 2000; }
#dropdown2 li { display: block; padding-left: 10px; padding-right: 50px; text-align: left; }
a { text-decoration: none; }
#dwn { font-size: 0.8em; }
#trigger:hover + #dropdown, #dropdown:hover { height: 11.5em; }
#trigger2:hover + #dropdown2, #dropdown2:hover { height: 2.9em; }
li.x1 { top: 0; }
#x0 { position: relative; top: 0; left: 0px; }

/* Footer CSS Styles */
footer { position: fixed; bottom: -100px; left: 50%; width: 960px; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1000; height: 200px; background-color: hsla(0,0%,0%,1.00); border-top-left-radius: 24px; border-top-right-radius: 24px; }
.foot_art { position: relative; float: left; overflow: hidden; }
#foot_ul { padding-left: 8px;  background-color: hsla(0,0%,0%,1.00); border-top-left-radius: 24px; border-top-right-radius: 24px; }
#ft_a1 { width: 300px; margin-left: 10px; }
#ft_a2 { width: 300px; margin-left: 10px; }
#ft_a3 { width: 300px; margin-left: 10px; }
.head_li { display: block; border-bottom: 1px solid hsla(198,87%,44%,1.00); border-top-left-radius: 24px; border-top-right-radius: 24px; }
.head_li:hover { display: block; background-color: hsla(0,0%,0%,1.00); border-radius: 0px; }
.head_li a { display: block; color: hsla(198,87%,44%,1.00); text-align: left; width: 100%; height: 100%; line-height: .5em; }
.head_li a:hover { color: hsla(0,0%,100%,1.00); background-color: hsla(0,0%,0%,1.00); }
.body_li { display: block; border-radius: 12px; }
.body_li:hover { display: block; background-color: hsla(0,0%,27%,1.00); border-radius: 6px; }
.body_li a { display: block; color: hsla(0,0%,100%,1.00); text-align: left; width: 100%; height: 100%; line-height: .5em; }
.body_li a:hover { background-color: hsla(0,0%,0%,1.00); background-color: hsla(0,0%,27%,1.00); }
h6 { position: absolute; bottom: 0px; width: 100%; height: 20px; background-color: hsla(198,87%,44%,1.00); text-align: center; font-weight: bold; }
