<!DOCTYPE html>
<html>
<head>
	<title>WSP Component - Slider: Aaron Wilson</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="slider_component.css" />

	
</head>
<body>

	<!-- Navigation Component -->
    
<nav>
  <ul id="main">
    <ul id="header">
    <a href="../../index.html" id="brand">
      <li id="x0">
      <img src="../../images/visionsic.png">
      </li>
    </a>
  </ul>

    <a href="../../index.html#vic_about_h2">
      <li class="x1">
        About Me
      </li>
    </a>
    <a href="../../index.html#vic_blog_h2" id="trigger2">
      <li class="x1">
        Main CTA &nbsp;
        <span id="caret"></span>
      </li>
    </a>
    <ul id="dropdown2">
      <a href="../../components/1/slider_component.html">
        <li>
          Slider Component
        </li>
      </a>
    </ul>
    <a href="../../index.html#vic_comp_h2" id="trigger">
      <li class="x1">
        Components &nbsp;
        <span id="caret"></span>
      </li>
    </a>
    <ul id="dropdown">
      <a href="../2/nav_component.html">
        <li>
          Navigation Component
        </li>
      </a>
      <a href="../3/form_component.html">
        <li>
          Form Component
        </li>
      </a>
      <a href="../4/maps_component.html">
        <li>
          Maps Component
        </li>
      </a>
      <a href="../5/footer_component.html">
        <li>
          Footer Component
        </li>
      </a>
    </ul>
  </ul>
</nav>    
	<!-- End Navigation Component -->

	<!-- Start Slider Component -->
<article id="slider">
	<h1>
        <span>Example Component 1: Pure CSS Slider Component</span>
    </h1>
    <input type="radio" name="slider" id="slide1" checked />
    <input type="radio" name="slider" id="slide2" />
    <input type="radio" name="slider" id="slide3" />
    <input type="radio" name="slider" id="slide4" />
    <input type="radio" name="slider" id="slide5" />
        <div id="slides">
            <div id="overflow">
                <div class="inner">
                    <article>
                    <img src="slide1.png" alt="image 1"/>
                    </article>
                    <article>
                    <img src="slide2.png" alt="image 2"/>
                    </article>
                    <article>
                    <img src="slide3.png" alt="image 3"/>
                    </article>
                    <article> 
                    <img src="slide4.png" alt="image 4"/>
                    </article>
                    <article>
                    <img src="slide5.png" alt="image 5"/>
                    </article>
                </div>
            </div>
        </div>
    <div id="active">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
    </div>
</article> 
	<!-- End Slider Component -->
    
       
 
    
</body>
</html>