<!DOCTYPE html>
<html>
<head>
	<title>WSP Form Component: Aaron Wilson</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="form_component.css" />

</head>
<body>

	<!-- Navigation Component -->
    
<nav>
  <ul id="main">
    <ul id="header">
    <a href="../../index.html" id="brand">
      <li id="x0">
      <img src="../../images/visionsic.png">
      </li>
    </a>
  </ul>

    <a href="../../index.html#vic_about_h2">
      <li class="x1">
        About Me
      </li>
    </a>
    <a href="../../index.html#vic_blog_h2" id="trigger2">
      <li class="x1">
        Main CTA &nbsp;
        <span id="caret"></span>
      </li>
    </a>
    <ul id="dropdown2">
      <a href="../../components/1/slider_component.html">
        <li>
          Slider Component
        </li>
      </a>
    </ul>
    <a href="../../index.html#vic_comp_h2" id="trigger">
      <li class="x1">
        Components &nbsp;
        <span id="caret"></span>
      </li>
    </a>
    <ul id="dropdown">
      <a href="../2/nav_component.html">
        <li>
          Navigation Component
        </li>
      </a>
      <a href="../3/form_component.html">
        <li>
          Form Component
        </li>
      </a>
      <a href="../4/maps_component.html">
        <li>
          Maps Component
        </li>
      </a>
      <a href="../5/footer_component.html">
        <li>
          Footer Component
        </li>
      </a>
    </ul>
  </ul>
</nav>    
	<!-- End Navigation Component -->

	<!-- Start Form Component -->
    <h1>
    Example Component 3: Pure CSS Form
    </h1>
    
    <form action="./" method="post">
	          <div class="box">
	            <h2>Contact Form</h2>
	            <label>
	               <span>Full name *</span>
	               <input type="text" class="input_text" name="name" id="name" placeholder="John Doe"/>
	            </label>
	             <label>
	               <span>Email *</span>
	               <input type="text" class="input_text" name="email" id="email" placeholder="johndoe@email.com"/>
	            </label>
	             <label>
	                <span>Subject *</span>
	                <input type="text" class="input_text" name="subject" id="subject" placeholder="Enter A Subject Here"/>
	            </label>
	            <label>
	                <span>Message *</span>
	                <textarea class="message" name="feedback" id="feedback" placeholder="Enter A Message Here"></textarea>
                 <input type="submit" class="button" value="Submit Form" href="../../index.html" />
              
	            </label>
	        </div>
	    </form>
	<!-- End Form Component -->
	
  <p>
   This is an example of my learning how to implement a pure css controlled form component. I also am starting to understand positioning a lot better now. This Form component uses label, input, text area, and button tags to achieve it's look and effect to which is triggered by css's (positioning) attribute. I've also added a few css styles for more effect.
  </p>

    
</body>
</html>